body {
    height: 100vh;
    background-color: $bgc;
}

img {
    width: 20px;

    &:hover {
      cursor: pointer;
    }
}

p {
  font-family: $paragraph-font;
  color: $paragraph-color;
}

.p_20{
  font-size: 20px;
}

.column {
    position: relative;
    display: flex;
    justify-content: space-around;
    color: $main-site-color;
    align-items: center;
    height: 100%;
    border-left:  1px solid $first-border-color;
}

.col_1 {
    min-width: 8.3%;
}

.col_2{
    min-width: 16.6%;
}

.circle {
  position: absolute;
  top: 28%;
  left: 50%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #f58220;
}
