.topBar{
    position: fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: right;
    width: 1280px;
    height: 60px;
    background-color: white;
}
