/* Colors */
$paragraph-color: #adadad;
$brand-main-color: #ff0000;
$bgc: #f5f5f2;
$first-border-color: #e3e3e3;
$main-site-color: #fff;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: 'Roboto', sans-serif;;
