.main {
  position: absolute;
  top: 60px;
  right: 1vw;
  display: flex;
  flex-direction: column;

  .container {
    width: 83vw;
    height: 44vh;
    margin-top: 20px;
    background-color: $main-site-color;
  }
}
