.main {
  position: absolute;
  top: 60px;
  right: 1vw;
  display: flex;
  flex-direction: column;

  .container {
    position: relative;
    width: 82vw;
    margin-top: 20px;
    background-color: $main-site-color;

    .dateContainer {
      display: flex;
      align-items: center;
      width: 360px;
      height: 40px;
      margin: 40px auto;

      .smallDateContainer {
        display: flex;
        align-items: center;
        width: 300px;
        height: 40px;
        margin: 50px auto;
        border: 1px solid $first-border-color;
        border-radius: 5px;

        p {
          margin-left: 15px;
        }

        .verticalLine {
          height: 80%;
          margin-left: 40px;
          border-left: 1px solid $first-border-color;
        }

        i {
          margin-left: 40px;
        }
      }
    }

    .dataContainer {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 60%;
      margin: 50px auto;

      .data {
        display: flex;
        justify-content: space-between;
        width: 46%;
        border-bottom: 1px solid $first-border-color;

        p {
          &:first-of-type {
            font-weight: bold;
          }

          &:last-of-type {
            color: $number-color;
          }
        }
      }
    }

    h3 {
      margin: 80px 20% 40px;
    }

    .boxContainer {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 40%;

      .box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 30%;
        background-color: $box-bgc-color;
        border-radius: 5px;
        margin-bottom: 20px;

        &:last-of-type {
          background-color: #fff;
        }
      }
    }
  }
}
