.sidebar{
  position: fixed;
  width: 15vw;
  height: 100vh;
  background-color: $sidebar-bgc;
  color: #fff;

  .sidebar_header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    .hand {
      font-family: $hand-writing;
      font-size: 36px;
      letter-spacing: 2px;
      color: $main-site-color;
      padding: 0;
    }

    i {
      font-size: 28px;
      color: $additional-color;
      padding-right: 10px;
    }
  }

  ul {
    list-style: none;
    margin-left: -40px;

    li {
      display: flex;
      align-items: center;
      transition: .2s linear;
      padding-left: 40px;

      i {
        transition: .2s linear;
      }

      p{
        color: $list-text-color;
        padding-left: 15px;
        transition: .2s linear;
      }

      &:hover i {
        cursor: pointer;
        color: white;
      }

      &:hover p {
        cursor: pointer;
        color: white;
      }

      &:hover {
        background-color: #282828;
        border-left: 5px solid #f58220;
      }
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: $list-text-color;
    margin-bottom: 30px;
  }

  .manager{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    .managerImg{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $main-site-color;
    }

    .circleManager{
      top: 0;
      left: 26%;
      background-color: #04ae00;;
    }
  }
}
