.topBar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: right;
  width: 100vw;
  height: 60px;
  background-color: white;
  z-index: 4;
  border-bottom: 1px solid $first-border-color;

  .column {
    position: relative;
    display: flex;
    justify-content: space-around;
    color: $main-site-color;
    align-items: center;
    height: 100%;
    border-left:  1px solid $first-border-color;
    transition: .2s linear;

    p {
      padding-bottom: 2px;
    }

    i {
      color: $topbar-i;
      font-size: 18px;
    }

    &:hover {
      background-color: $bgc;
    }
  }

  .col_1 {
    width: 80px;
  }

  .col_2 {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .topBar {
    width: 60px;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;

    .column {
      flex-direction: column;
      width: 60px;
      height: 120px;
      border-bottom: 1px solid $first-border-color;

      p {
        display: none;
      }

      .icon-arrow-down {
        transform: rotate(-90deg);
      }

      .circle{
        top: 45px;
      }
    }

    .col_2 {
      flex-direction: column-reverse;
    }
  }
}
